/* Algemene styling in de grid-container en per grid-item */
	.grid-container{
		display: grid;

		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-gap: 10px 0px;

		grid-template-areas:
			"header"
      "challengeTekst"
			"ARVR"
			"wearables"
			"artificialCreatures"
			"playfulInteraction"
      "workshopTekst"
			"workshopARVR"
			"workshopArduino"
			"workshopCV"
      "guestLectureTekst"
			"guestLecture"
			"footer"

	}

	.box1{
    grid-area: header;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
	}

  .box1b{
    grid-area: challengeTekst;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
	}

	.box2{
    grid-area: ARVR;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 6px solid #3C5DFB;
	}

	.box3{
		grid-area: wearables;
		display: flex;
		flex-direction: column;
    justify-content: center;
		align-items: center;
    border: 6px solid #3C5DFB;
	}

	.box4{
		grid-area: artificialCreatures;
		display: flex;
		flex-direction: column;
    justify-content: center;
		align-items: center;
    border: 6px solid #3C5DFB;
	}

	.box5{
		grid-area: playfulInteraction;
		display: flex;
		flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 6px solid #3C5DFB;
	}

  .box5b{
    grid-area: workshopTekst;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
	}

	.box6{
		grid-area: workshopARVR;
		display: flex;
		flex-direction: column;
    justify-content: center;
		align-items: center;
    border: 6px solid #FC446B;
	}

	.box7{
		grid-area: workshopArduino;
		display: flex;
		flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 6px solid #FC446B;
	}

	.box8{
		grid-area: workshopCV;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
    border: 6px solid #FC446B;
	}

	.box9{
		grid-area: guestLecture;
		display: flex;
		flex-direction: column;
		justify-content: center;
    align-items: center;
    border: 6px solid #4DE16B;
	}

	.box10{
		grid-area: footer;
		position: relative;
    background-color: black;
	}


/* Tablet liggend */
@media only screen and (min-width: 800px) and (max-width: 1354px){

	.grid-container{
		width: 90%;
		margin: 0 auto;

		grid-template-columns: 1fr 1fr;

		grid-template-areas:
      "header header"
      "challengeTekst challengeTekst"
      "ARVR wearables"
      "artificialCreatures playfulInteraction"
      "workshopTekst workshopTekst"
      "workshopARVR workshopARVR"
      "workshopArduino workshopArduino"
      "workshopCV workshopCV"
      "guestLectureTekst guestLectureTekst"
      "guestLecture guestLecture"
      "footer footer"
	}

}



/* Kleine desktop */
@media only screen and (min-width: 1356px) and (max-width: 1919px) {
	.grid-container{
		width: 80%;
		margin: 0 auto;

    grid-gap: 26px;

		grid-template-columns: 1fr 1fr;

		grid-template-areas:
		"header header"
		"challengeTekst challengeTekst"
		"ARVR wearables"
		"artificialCreatures playfulInteraction"
		"workshopTekst workshopTekst"
		"workshopARVR workshopArduino"
		"workshopCV guestLecture"
		"footer footer"

	}

	.box2, .box4, .box6, .box8{
		margin-left: auto;
		margin-right: 0;
	}

	/* .boxrood, .boxgroen{
		margin: 0 auto;
	} */

}
