/* Algemene styling in de grid-container en per grid-item */
	.grid-container{
		display: grid;

		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-gap: 10px 0px;

		grid-template-areas:
			"header"
      "challengeTekst"
			"research"
			"tinkering"
			"designAndBuild"
			"reflect"
			"footer"

	}

	.box1{
    grid-area: header;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
	}

  .box1b{
    grid-area: challengeTekst;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
	}

	.box2{
    grid-area: research;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 6px solid #3C5DFB;
	}

	.box3{
		grid-area: tinkering;
		display: flex;
		flex-direction: column;
    justify-content: center;
		align-items: center;
    border: 6px solid #3C5DFB;
	}

	.box4{
		grid-area: designAndBuild;
		display: flex;
		flex-direction: column;
    justify-content: center;
		align-items: center;
    border: 6px solid #3C5DFB;
	}

	.box5{
		grid-area: reflect;
		display: flex;
		flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 6px solid #3C5DFB;
	}

	.box10{
		grid-area: footer;
		position: relative;
    background-color: black;
	}

	.groteBox{
		grid-area: groteBox;
		display: flex;
    flex-flow: column;
		min-height: calc(100vh - 265px - 112px);
	}


/* Tablet liggend */
@media only screen and (min-width: 800px) and (max-width: 1354px){

	.grid-container{
		width: 90%;
		margin: 0 auto;

		grid-template-columns: 1fr 1fr;

		grid-template-areas:
      "header header"
      "challengeTekst challengeTekst"
      "research tinkering"
      "designAndBuild reflect"
      "footer footer"
	}

}



/* Kleine desktop */
@media only screen and (min-width: 1356px) and (max-width: 1919px) {
	.grid-container{
		width: 80%;
		margin: 0 auto;
		/* min-height: calc(100vh - 158px - 112px); */

    grid-gap: 26px;

		grid-template-columns: 1fr 1fr;

		grid-template-areas:
			"header header"
			"groteBox groteBox"
			"footer footer"

	}

	.grid-container2{
		display: grid;
		width: 100%;
		margin: 0 auto;

    grid-gap: 26px;

		grid-template-columns: 1fr 1fr;

		grid-template-areas:
		"challengeTekst challengeTekst"
		"research tinkering"
		"designAndBuild reflect"

	}

	.box2, .box4{
		margin-left: auto;
		margin-right: 0;
	}

	#breadcrumbs{
		display: inline;
		margin-top: 5px;
	}

	#breadcrumbs ul{
		list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	}

	#breadcrumbs ul li{
		 float: left;
		 padding: 0px 10px 0px 0px;
	}

	#breadcrumbs ul li a{
		display: block;
	  text-align: center;
	}

	/* .box1b {
		margin-top: -105px;
	} */

	/* .box2, .box3, .box4, .box5 */

}
